<div class="headerbar">
  <a class="menutoggle"><i class="fa fa-bars"></i></a>
    <div class="header-right">
      <ul class="headermenu">
        <li>
          <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
              <li><%= link_to '用户管理', '#' %></li>
              <li><%= link_to "修改密码", edit_user_registration_path %></li>
              <li><%= link_to "退出", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </li>
      </ul>
    </div><!-- header-right -->
  </div><!-- headerbar -->
