<div class="leftpanel" >
  <div class="logopanel">
      <h5>卢钧窑管理平台</h5>
  </div>

  <div class="leftpanelinner">
    <ul class="nav nav-pills nav-stacked nav-bracket">
       <li>
         <a href="/trading_records/new">
           <i class="fa fa-home"></i> <span>交易录入</span>
         </a>
       </li>
       <li>
         <a href="/commodity_inventories">
           <i class="fa fa-home"></i> <span>易货库存</span>
         </a>
       </li>
       <li>
         <a href="/wages">
           <i class="fa fa-edit"></i> <span>人员工资</span>
         </a>
       </li>
       <li>
         <a href="/employees">
           <i class="fa fa-edit"></i> <span>人员信息维护</span>
         </a>
       </li>
       <li>
         <a href="/commodities">
           <i class="fa fa-edit"></i> <span>商品信息维护</span>
         </a>
       </li>
    </ul>
  </div>
</div>
